<h2>Join Us</h2>
<p>
  PDX.pm is a support and educational group that meets to discuss the Perl
  language and its ecosystem. We would love to have you join us.
  Membership or prior Perl experience is not required, all meetings are
  free-of-charge and all are welcome.
</p>
<p>
  Meetings are on the second Thursday of each month at 6:53pm.
  Most meetings are held at
  <a href='http://www.freegeek.org'>Free&nbsp;Geek</a><a href='http://calagator.org/venues/202389965'>&nbsp;<i class="icon-map-marker"></i></a>.
  After the meeting, some tend to walk over to the
  <a href='http://luckylab.com'>Lucky&nbsp;Lab</a><a href='http://calagator.org/venues/202390282'>&nbsp;<i class="icon-map-marker"></i></a>
  for post meeting drinks and food.
</p>
