<nav class='navbar'>
  <div class='navbar-inner'>
    {% if page.title == 'Home' %} <a class='brand' rel='home' href='/'>PDX.pm</a>
      {% else %} <span class='brand'>PDX.pm</span> {% endif %} 
    <ul class='nav' style='float:right'>
      <li class='divider-vertical'></li>
      <li><a href='http://twitter.com/pdxperlmongers'><span class='icon-twitter'></span>@pdxperlmongers</a></li>
      <li><a href='http://mail.pm.org/mailman/listinfo/pdx-pm-list'><span class='icon-envelope-alt'></span>List</a></li>
      <li class='divider-vertical'></li>
      <li><a href='http://calagator.org/events/tag/pdxpm'><span class='icon-calendar'></span>Calagator</a></li>
      <li><a href='http://calagator.org/events/search.atom?tag=pdxpm'><span class='icon-rss'></span>Calagator Feed</a></li>
      <li class='divider-vertical'></li>
      <li><a href='https://github.com/PortlandPerlMongers'><span class="icon-github"></span>Github</a></li>
    </ul>
  </div>
</nav>
