<h2>Take Part</h2>
<p>
  Have an idea for a topic that you would like to present?
  Let us know on the <a href='http://mail.pm.org/mailman/listinfo/pdx-pm-list'>mailing&nbsp;list</a>
  or on the <code>#pdx.pm</code> channel on <code>irc.perl.org</code>.
  Curious about what topics are being discussed?
  Check out <a href='https://github.com/PortlandPerlMongers/portlandperlmongers.github.io/wiki/PastMeetings'>some of our past meetings</a>.
</p>
<p>
  We are an all volunteer group, if you would like to help with our meetings in
  any way please get a hold of us.
  Feel free to add your self to he list of
  <a href='https://github.com/PortlandPerlMongers/portlandperlmongers.github.io/wiki/PortlandPerlMongerMembers'>Members</a>
  on the wiki.
</p>
