<h2>What & Who:</h2>
<p>
Curious about who is presenting or what topics are being discussed?
Check out the <a href='https://github.com/PortlandPerlMongers/portlandperlmongers.github.io/wiki/FutureMeetings'>
  future&nbsp;presentation</a> entry on the wiki for this information.
Have an idea for a topic that you would like to present? We would love
to hear about it on the <a
  href='http://mail.pm.org/mailman/listinfo/pdx-pm-list'>mailing&nbsp;list</a>.
</p>
<p>
  Membership or prior perl experience is not required, all meetings are
  free-of-charge and all are welcome. Feel free to add your self to he
  list of <a
    href='https://github.com/PortlandPerlMongers/portlandperlmongers.github.io/wiki/PortlandPerlMongerMembers'>Members</a>
  on the wiki.
</p>

