<h2>When & Where:</h2>
<p>
Meetings are on the second Thursday of each month at 6:53pm.
Most meetings are held at <a href='http://www.freegeek.org'>Free&nbsp;Geek</a>
( <a href='https://plus.google.com/114927192461328782380/about?gl=us&hl=en'>location</a>
) though if a meeting location changes it will be noted as such on the
<a href='http://calagator.org/events/search?query=pdx.pm'>Calagator</a>
entry.
</p>

<p>
After the meeting, some tend to walk over to the <a href='http://luckylab.com'>Lucky Lab</a>
( <a href='https://plus.google.com/104205648533884935496/about?gl=us&hl=en'>location</a>
 &
 <a href='https://maps.google.com/maps?saddr=Free+Geek,+1731+Southeast+10th+Avenue,+Portland,+OR+97214&daddr=45.511968,-122.6557087+to:Lucky+Labrador+Brew+Pub,+915+SE+Hawthorne+Blvd,+Portland,+OR&hl=en&sll=45.511336,-122.656218&sspn=0.004661,0.009624&geocode=FedutgIdtWuw-CntvHSidQqVVDHE_9tqyeD5vA%3BFSB1tgIdJGyw-CknUQhhdQqVVDG5lHBXh05wMw%3BFYd3tgIdS2mw-CGAyeI6p1Jh2ynxrrRedQqVVDGAyeI6p1Jh2w&oq=lucky&t=h&gl=US&dirflg=w&mra=ltm&via=1&z=18'>map</a>
) for post meeting drinks and food.
</p>
